body{
  background: #f1e5c7;
  min-height: 100vh;
}
.logo-container{
  height:8vw;
  width: 25vw;
  margin: 1vw;
}
.logo-container img{
  width: 100%;
  vertical-align: top;
}

.footer img{
  width: 100%;
  bottom: 0;
}
